https://towardsdatascience.com/my-journey-to-building-book-recommendation-system-5ec959c41847

In [1]:
import pandas as pd
import numpy as np

In [8]:
ratings=pd.read_csv('book_ratings.csv',encoding='latin-1')

In [9]:
ratings.head(5)

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
user_id    1048575 non-null int64
isbn       1048575 non-null object
rating     1048575 non-null int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [3]:
books=pd.read_csv('books.csv',encoding='latin-1')

c:\users\carolina\desktop\ml_edureka\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
books.head(5)
books.columns

Index(['isbn', 'book_title', 'book_author', 'year_of_publication',
       'publisher'],
      dtype='object')

In [24]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 5 columns):
isbn                   271379 non-null object
book_title             271379 non-null object
book_author            271378 non-null object
year_of_publication    271379 non-null object
publisher              271377 non-null object
dtypes: object(5)
memory usage: 10.4+ MB

In [6]:
users=pd.read_csv('users.csv',encoding='latin-1')
users.head(5)

c:\users\carolina\desktop\ml_edureka\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  user_id                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278859 entries, 0 to 278858
Data columns (total 3 columns):
user_id     278859 non-null object
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), object(2)
memory usage: 6.4+ MB

In [11]:
print(ratings.shape)
print(users.shape)
print(books.shape)

(1048575, 3)
(278859, 3)
(271379, 5)